<div class="row justify-content-center">
  <div class="col-lg-5 col-sm-6">
    <h2>Basic Usage</h2>

    <h4>checked</h4>
    <p>
      <ui-switch checked></ui-switch>
      <ui-switch [checked]="false"></ui-switch>
    </p>

    <h4>Disabled</h4>
    <p>
      <ui-switch disabled></ui-switch>
      <ui-switch checked [disabled]="true"></ui-switch>
    </p>

    <h4>Change</h4>
    <ui-switch (change)="onChange($event)"></ui-switch>
    <p>change count {{ count }}</p>
    <p>value {{ change }}</p>

    <h4>Value Change</h4>
    <ui-switch (valueChange)="onValueChange($event)"></ui-switch>
    <p>value {{ valueChange }}</p>

    <h4>Change Event</h4>
    <ui-switch (changeEvent)="onChangeEvent($event)"></ui-switch>
    <p>event {{ changeEvent }}</p>

    <h4>Size</h4>
    <p>
      <ui-switch size="small"></ui-switch>
      <ui-switch></ui-switch>
      <ui-switch size="large"></ui-switch>
    </p>

    <h4>reverse</h4>
    <p>
      <ui-switch reverse></ui-switch>
    </p>

    <h4>color</h4>
    <ui-switch></ui-switch>
    <ui-switch color="blue"></ui-switch>
    <ui-switch color="red"></ui-switch>

    <h4>switchColor</h4>
    <p>
      <ui-switch switchColor="red"></ui-switch>
      <ui-switch switchColor="blue"></ui-switch>
    </p>

    <h4>textColor</h4>
    <p>
      <ui-switch
        uncheckedTextColor="red"
        checkedTextColor="blue"
        checkedLabel="ON"
        uncheckedLabel="OFF"
      ></ui-switch>
    </p>
  </div>

  <div class="col-lg-5 col-sm-6 border-left pl-5">
    <h2>
      <span class="font-weight-bold">ngModel</span>
      Usage
    </h2>
    <div class="row">
      <div class="col-12">
        <h4>two way binding</h4>
        <ui-switch [(ngModel)]="enable"></ui-switch>
        <p>Current Value: {{ enable }}</p>
      </div>
      <app-demo-cdr></app-demo-cdr>
    </div>
    <hr />
    <div class="row custom-switches">
      <div class="col-12">
        <h2>Custom CSS</h2>
        <p>
          <ui-switch checked></ui-switch>
          <ui-switch [checked]="false"></ui-switch>
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <h2>Custom labels</h2>
        <p>
          <ui-switch uncheckedLabel="off" checkedLabel="on" size="small"></ui-switch>
          <ui-switch uncheckedLabel="off" checkedLabel="on"></ui-switch>
          <ui-switch uncheckedLabel="off" checkedLabel="on" size="large"></ui-switch>
        </p>

        <p>
          <ui-switch
            checkedLabel="Super Long Label"
            uncheckedLabel="Super Long Label"
            size="small"
          ></ui-switch>
          <ui-switch checkedLabel="Super Long Label" uncheckedLabel="Super Long Label"></ui-switch>
          <ui-switch
            checkedLabel="Super Long Label"
            uncheckedLabel="Super Long Label"
            size="large"
          ></ui-switch>
        </p>
        <p>
          <ui-switch
            reverse
            uncheckedLabel="off"
            checkedLabel="on"
            uncheckedTextColor="orange"
            checkedTextColor="red"
          ></ui-switch>
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <h2>Custom Switch Content</h2>
        <p class="custom-icons">
          <ui-switch uncheckedLabel="off" checkedLabel="on" size="small">
            <i class="fa fa-check"></i>
          </ui-switch>

          <ui-switch uncheckedLabel="off" checkedLabel="on">
            <i class="fa fa-check"></i>
          </ui-switch>

          <ui-switch uncheckedLabel="off" checkedLabel="on" size="large">
            <i class="fa fa-check fa-2x"></i>
          </ui-switch>
        </p>
        <h4>
          Before Change handling + Loading Icon Example
        </h4>
        <p>
          <ui-switch [loading]="isLoading" [beforeChange]="fakeAsync" [(ngModel)]="enable">
            <i class="fa fa-check" *ngIf="enable && !isLoading"></i>
            <i class="fa fa-times" *ngIf="!enable && !isLoading"></i>
            <i class="fa fa-spinner fa-pulse" *ngIf="isLoading"></i>
          </ui-switch>
        </p>
      </div>
    </div>
  </div>
</div>

<hr />

<form class="form-row" #demoForm="ngForm" (ngSubmit)="onSubmit($event)">
  <div class="col">
    <label for="feature-name">Name</label>
    <input type="text" class="form-control" id="feature-name" />
  </div>

  <div class="col">
    <label for="enable-feature">Enable Feature</label>
    <ui-switch
      class="custom-control"
      id="enable-feature"
      [(ngModel)]="enableFeature"
      name="enableFeature"
    ></ui-switch>
  </div>

  <div *ngIf="submitted" class="col-12 alert alert-info" role="alert">Submitted!</div>

  <div class="col-12 mt-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
